<!DOCTYPE html>
<html>
<head>
	<title>Sales</title>
</head>
<body bgcolor="pink">
	<h3> Welcome to Sales Page </h3>
	<a href="createsales.html">Create Sales</a><br><br>
	 <table style="width:20%" border="1">
    	<tr>
  		    <th>Sales Team Name</th>
    		<th>Salary</th>
    		<th>Shift</th>
    		<th>Team Info</th>
    		<th></th>
    		<th></th>
  		</tr>
  		<tr>
    		<td>Sanjay</td>
    		<td>15000</td>
    		<td>Morning</td>
    		<td>Team Lead</td>
    		<td><input type="submit" value = "update"></input></td>
    		<td><input type="submit" value = "delete"></input></td>
  		</tr>
  		<tr>
    		<td>Raghav</td>
    		<td>10000</td>
    		<td>Night</td>
    		<td>Sales Manager</td>
    		<td><input type="submit" value = "update"></input></td>
    		<td><input type="submit" value = "delete"></input></td>
  		</tr>
</table> 
</body>
</html>

