<!DOCTYPE html>
<html>
<head>
	<title>Purchases</title>
</head>
<body bgcolor="pink">
	<h3> Welcome to Purchase Page </h3>
	<a href="createpurchase.html">Create Purchase</a><br><br>
	 <table style="width:20%" border="1">
    	<tr>
  		    <th>Purchased Item Name</th>
    		<th>Price</th>
    		<th>Quantity</th>
    		<th>Product Info</th>
    		<th></th>
    		<th></th>
  		</tr>
  		<tr>
    		<td>TV</td>
    		<td>30000</td>
    		<td>1</td>
    		<td> Samsung LCD TV</td>
    		<td><input type="submit" value = "update"></input></td>
    		<td><input type="submit" value = "delete"></input></td>
  		</tr>
  		<tr>
    		<td>Fridge</td>
    		<td>10000</td>
    		<td>1</td>
    		<td>Icy Touch</td>
    		<td><input type="submit" value = "update"></input></td>
    		<td><input type="submit" value = "delete"></input></td>
  		</tr>
</table> 
</body>
</html>

