<!DOCTYPE html>
<html>
<head>
	<title>Warehouse</title>
</head>
<body bgcolor="pink">
	<h3> Welcome to Warehouse Page </h3>
	<a href="createwarehouse.html">Create Warehouse</a><br><br>
	 <table style="width:20%" border="1">
    	<tr>
  		    <th>Warehouse Products</th>
    		<th>Name</th>
    		<th>Quantity</th>
    		<th>Warehouse Info</th>
    		<th></th>
    		<th></th>
  		</tr>
  		<tr>
    		<td>TV</td>
    		<td>Sony</td>
    		<td>10</td>
    		<td>Bangalore-Anekkal</td>
    		<td><input type="submit" value = "update"></input></td>
    		<td><input type="submit" value = "delete"></input></td>
  		</tr>
  		<tr>
    		<td>DVD</td>
    		<td>LG</td>
    		<td>20</td>
    		<td>Bangalore-Hosur</td>
    		<td><input type="submit" value = "update"></input></td>
    		<td><input type="submit" value = "delete"></input></td>
  		</tr>
</table> 
</body>
</html>